:root {
    --darkgreen: #006400;
    --white: #F9FAFC;
    --grey: #4A4A4F;
    --brightgreen: limegreen;
    --danger: #E84610;
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

p {
    margin-bottom: 0.25rem;
    padding-bottom: 0rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--grey);
}

.light-bg {
    background-color: var(--white);
}

.dark-bg {
    background-color: var(--darkgreen);
}

.main-bg {
    background-color: var(--white);
}

#slogan {
    margin-right: 3rem;
}

.card {
    border: none;
    background-color: transparent;
}

.card-text {
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-card-title {
    height: 3rem;
    padding-top: 1rem;
}

.team-jobtitle {
    height: 4rem;
}

.team-location {
    height: 2rem;
    color: var(--grey);
}

.team-bio {
    height: 8rem;
    overflow: auto;
}

.image-container {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.author-draft {
    opacity: 50%;
}

.nonauthor-draft {
    display: none;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: var(--grey);
}

.post-link:hover,
.page-link {
    color: var(--danger);
}

.recipe-subtitle {
    color: var(--grey);
}


.btn-signup,
.btn-edit,
.btn-search,
.btn-publish {
    background-color: var(--darkgreen);
    color: var(--white);
}

.btn-signup:hover,
.btn-signup:active,
.btn-edit:hover,
.btn-edit:active,
.btn-search:hover,
.btn-search:active,
.btn-publish:hover,
.btn-publish:active {
    background-color:var(--white);
    color: var(--darkgreen);
}

.btn-home {
    background-color: var(--darkgreen) !important; 
    color: var(--white) !important;
}

.btn-home:hover,
.btn-home:active {
    background-color: var(--white) !important;
    color: var(--darkgreen) !important;
}

.link {
    color: var(--brightgreen);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--grey);
    text-decoration: underline;
}

.btn-delete-recipe,
.btn-delete-comment,
.btn-danger {
    color: var(--white);
    background: var(--danger);
}

.btn-delete-recipe:hover,
.btn-delete-recipe:active,
.btn-delete-comment:hover,
.btn-delete-comment:active,
.btn-danger:hover,
.btn-danger:active {
    color: var(--danger);
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

@media (min-width: 992px) and (max-width: 1045px) {
    .card-title {
        font-size: calc(1.2rem + .9vw);
        height: 6.5rem;
    }
}

@media (max-width: 1094px) {
    #slogan {
        display: none;
    }
}