{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="row mx-2">
        <div class="text-center mt-3">
            
            <h1>Method Not Allowed</h1>

            <div class="container text-center">
                <h2>405 - Method Not Allowed</h2>
                <p>The method you are trying to use is not allowed on this page.</p>
                <a href="{% url 'home' %}" class="btn btn-primary btn-home">Go Back Home</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}