{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Delete Recipe - {{ recipe.title }}</h1>

<div class="container">
    <h2 class="text-center">Confirm recipe deletion</h2>
    <div class="d-flex justify-content-center pt-3">
        <form method="POST" class="text-center">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ recipe.title }}"?</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-30 btn-delete-recipe">
            <a class="delete-cancel btn btn-secondary" href="{% url 'recipe_detail' recipe.slug %}" role="button">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}